* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./reset.scss";
@import "./font.scss";
@import "./responsive.scss";

img {
  width: 100%;
  object-fit: cover;
}

.container-dialog-custom {
  .el-dialog__header {
    display: none !important;
  }
  .el-dialog {
    border-radius: 10px;
    padding: 20px 15px;
    background: linear-gradient(
      180deg,
      #7d5105 0,
      #382303 15%,
      #140c02 40%,
      #1c1202 70%,
      #261901 100%
    );
    border: 2px solid #c3ad61;
  }

  .icon-close-full-dialog {
    position: absolute;
    bottom: 104%;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

.button-common {
  &-primary {
    background-color: #0071a9 !important;
    p {
      color: #fff !important;
    }
    &:focus {
      background-color: #0071a9 !important;
      p {
        color: #fff !important;
      }
    }
    &:active,
    &:hover {
      background-color: #0071a9 !important;
    }
  }

  &-secondary {
    background-color: #f5f7f9 !important;
    p {
      color: #000 !important;
    }
    &:focus {
      background-color: #f5f7f9 !important;
      p {
        color: #000 !important;
      }
    }
    &:active,
    &:hover {
      background-color: #f5f7f9 !important;
    }
  }
}

.cell-date-time-picker-container {
  .el-date-table-cell__text {
    width: 32px !important;
    height: 32px !important;
    line-height: 32px !important;
  }
}

.input-date-time-picker-popper {
  .el-input__wrapper {
    // pointer-events: none;
  }
}
